from lightning import Trainer
from diffusion4med.data.toys_datasets.mnist3D.dataset import Mnist3d
from diffusion4med.models.diffusion import (
    FPN3d,
    HeadFPN3d,
    UnionArchitecture,
    Diffusion,
    CosineSheduler,
    ValVisulization,
)
import torch.nn.functional as F
from torch.utils.data import DataLoader
from functools import partial
from thunder.callbacks import TimeProfiler, MetricLogger
from lightning.pytorch.callbacks import ModelCheckpoint, LearningRateMonitor
from lightning.pytorch.loggers import WandbLogger
from torch.optim import Adam
from thunder.policy import Switch
from thunder.placeholders import GroupName

path_to_data = "/shared/data/mnist3d/full_dataset_vectors.h5"
BATCH_SIZE = 128
train_data = DataLoader(
    Mnist3d(path_to_data, train=True), batch_size=BATCH_SIZE, num_workers=4
)
val_data = DataLoader(Mnist3d(path_to_data, train=False), batch_size=1, num_workers=4)


timesteps = 1000
channels = (16, 32, 64, 128, 256)
in_channels = 1
num_log_images = 10
slice_visualize = 8
image_shape = (1, 16, 16, 16)

loss = F.smooth_l1_loss
backbone = partial(
    FPN3d, in_channels=in_channels, timesteps=timesteps, channels=channels
)
head = partial(HeadFPN3d, in_channels=channels[0], out_channels=in_channels)
architecture = UnionArchitecture(backbone, head)
module = Diffusion(
    timesteps=timesteps,
    scheduler=CosineSheduler,
    architecture=architecture,
    num_log_images=num_log_images,
    slice_visualize=slice_visualize,
    criterion=loss,
    optimizer=Adam(architecture.parameters()),
    lr_scheduler=Switch({0: 1e-3, 90: 1e-4}),
    image_shape=image_shape,
)


wandb_logger = WandbLogger(name=GroupName, project="mnist3D")

trainer = Trainer(
    callbacks=[
        ModelCheckpoint(save_last=True),
        TimeProfiler(),
        LearningRateMonitor("epoch"),
        MetricLogger(single_metrics={"loss": loss}),
        ValVisulization(),
    ],
    accelerator="gpu",
    devices=1,
    max_epochs=10000,
    limit_val_batches=10,
    check_val_every_n_epoch=10,
    logger=wandb_logger,
)
